<div class="card m-2">
    <a href="/getPost/user/{{id}}"> 
        <header class="d-flex justify-content-between align-items-center p-2 bg-body-secondary">
            <h3>{{title}}</h3>
            <div>
                <p>{{format_date created_on}}</p>
            </div>
        </header>
    </a>
</div>
