<section class="card m-2">
    <header class="d-flex justify-content-between align-items-center p-2 bg-body-secondary">
        <h3></h3>
        <p></p>
    </header>
    <div class="card-body">
        {{{text}}}
        <p>    </p>
        <p>-- Posted by {{user.name}} on {{format_date created_on}}</p>
    </div>
</section>
