<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ... (previous head content) ... -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-2">
      <!-- ... (previous navbar content) ... -->
    </nav>
    <main class="container container-fluid mt-5">{{{body}}}</main>
    <footer></footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
